streamlit
openai
faiss-cpu
numpy
pandas
python-dotenv
fastapi
uvicorn[standard]
python-multipart
pymupdf
langchain-text-splitters
sentence-transformers
huggingface_hub
groq
psycopg2-binary
SQLAlchemy
passlib[bcrypt]
python-jose[cryptography]
langgraph
llama-index
llama-index-embeddings-huggingface
plotly
rank_bm25
llama-index-retrievers-bm25